.caja_botones {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 24%;
    gap: 15px;
    height: 50%;
    width: fit-content;
}

.botones_inicio {
    text-align: center;
    width: 180px;
    height: 40px;
    font-optical-sizing: auto;
    text-transform: uppercase;
    color: black; 
    background-color: #c59a3e; 
    border: 3px solid #000000; 
    padding: 5px 10px;
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    font-family: "Tiro Bangla", serif;
    font-weight: 600;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 125%;
}

.botones_inicio_b {
    text-align: center;
    width: 120px;
    height: fit-content;
    font-optical-sizing: auto;
    text-transform: uppercase;
    color: #c59a3e; 
    background-color: black; 
    border: 3px solid #c59a3e; 
    padding: 5px 10px;
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    font-family: "Tiro Bangla", serif;
    font-weight: 600;
    font-style: normal;
    display: inline-block;
    font-size: 75%
}

a {
    color: black;
    font-style: normal;
    text-decoration: none;
}

.botones_inicio:hover {
    background-color: #f7f3e9; 
    border: 3px solid #c59a3e;
    transform: scale(1.2);
    color: #c59a3e;
}

.botones_inicio_b:hover {
    background-color: #f7f3e9; 
    border: 3px solid #c59a3e;
    transform: scale(1.2);
    color: #c59a3e;
    transform: translateY(-10px);
}

.boton_atras {
    position: absolute;
    top: 1.5rem; 
    left: 1.5rem; 
    z-index: 100;
    font-weight: 400;
    text-transform: uppercase;
    color: #f7f3e9; 
    background-color: #c59a3e; 
    border: 3px solid #ffffff; 
    padding: 5px 10px;
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #70510c;
    height: 90vh; 
    margin: 0;
    background-image: url("../IMAGENES/FONDO.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
     color: white;
     font-weight: normal;
     font-family: "Tiro Bangla", serif;
     font-size: 250%;
}

img{
    margin: 10px;
}

.containerbotonessecundarios {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px
}

.containerbuttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.partidas {
    width: 25%;
    background-color: #c59a3e;
    border-radius: 10px;
    border-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.atras {
    width: fit-content;
    height: auto;
    font-size: 75%;
    color: darkgoldenrod;
    padding: 4px;
    background-color: rgb(255, 254, 204);
    margin: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: darkgoldenrod;
    font-family: "Tiro Bangla", serif;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.atras:hover{
    transform: scale(1.1);
    background-color: darkgoldenrod;
    color: white;
    border-color: white
    
}

li {
    position: relative;
    list-style-type: none;
    right: 7%;
    align-self: center;
    padding: 10px;
    margin: 5px;
    background-color: rgb(255, 254, 204);
    border-radius: 5px;
    cursor: pointer;
    font-family: "Tiro Bangla", serif;
    transition: all 0.2s ease-in-out;
}

li:hover {
    background-color: darkgoldenrod;
    color: white;
    transform: scale(1.05);
}

.bordeNegro {
    border: 3px solid black;
}