body {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: linear-gradient( #4e3e1b, #c59a3e) ;
   height: 100vh;
   padding: auto;
   background-repeat: no-repeat;
   background-size: 100%;
}

.cantJugadores{
  background-color: rgb(255, 254, 204);
  width: 25%;
  height: 12%;
  text-align: center;
  font-size:135%;
  color: darkgoldenrod;
  font-family: "Tiro Bangla", serif;
  font-weight: 600;
  font-style: normal;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: darkgoldenrod;
  transition: all 0.2s ease-in-out;
}

.objSecretos {
  background-color: rgb(255, 254, 204);
  width: 25%;
  height: 12%;
  text-align: center;
  font-size: 135%;
  color: darkgoldenrod;
  font-family: "Tiro Bangla", serif;
  font-weight: 600;
  font-style: normal;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: darkgoldenrod;
  transition: all 0.2s ease-in-out;
}

.instructor {
  background-color: rgb(255, 254, 204);;
  width: 25%;
  height: 12%;
  text-align: center;
  font-size: 135%;
  color: darkgoldenrod;
  font-family: "Tiro Bangla", serif;
  font-weight: 600;
  font-style: normal;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: darkgoldenrod;
  transition: all 0.2s ease-in-out;
}

.botonSiguiente {
 background-color: darkgoldenrod;
 width: 15%;
 height: 10%;
 text-align: center;
 font-size: 135%;
 color: rgb(255, 254, 204);
 font-family: "Tiro Bangla", serif;
 font-weight: 600;
 font-style: normal;
 border-radius: 10px;
 border-width: 3px;
 border-style: solid;
 border-color: rgb(255, 254, 204);
 transition: all 0.2s ease-in-out;
 cursor: pointer;
}

.botonSiguiente:hover{
  transform: scale(1.1);
}

select{
  cursor: pointer;
}

select:hover{
  color: rgb(255, 254, 204);
  background-color: darkgoldenrod;
  border-color: rgb(255, 254, 204);
}

.boton_atras {
  position: absolute;
  top: 1.5rem; 
  left: 1.5rem; 
  z-index: 100;
  font-weight: 600;
  text-transform: uppercase;
  color: black; 
  background-color: #c59a3e; 
  border: 3px solid black; 
  padding: 5px 10px;
  border-radius: 5px; 
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  text-decoration: none;
}

.boton_atras:hover {
    background-color: #f7f3e9; 
    color: #c59a3e; 
    border: 3px solid #c59a3e;
    transform: scale(1.2);
}

.advertencia {
text-align: center;
font-weight: bold;
padding: 10px;
background-color: rgb(255, 254, 204);
color: black;
font-family: "Tiro Bangla", serif;
font-style:inherit ;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: darkgoldenrod;
}

.logoMini {
  position: absolute;
  bottom: 4%; 
  right: 92%; 
  width: 70px; 
}

option {
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: darkgoldenrod;
  font-family: "Tiro Bangla", serif;
  font-weight: bold;
  cursor: pointer;
}

.chiquito{
  font-size: 75%;
}

.boton_interaccion {
    width: fit-content;
    height: auto;
    color: darkgoldenrod;
    padding: 4px;
    background-color: rgb(255, 254, 204);
    font-weight: 100;
    margin: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: darkgoldenrod;
    font-family: "Tiro Bangla", serif;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.boton_interaccion:hover{
    transform: scale(1.1);
    background-color: darkgoldenrod;
    color: white;
    border-color: black
}

h1{
color: rgb(255, 254, 204);
font-family: "Tiro Bangla", serif;
font-size: 250%;
position: absolute;
top: 5%;
font-weight: normal;
}